<div class="form-horizontal">
    <div class="form-group">
        <label for="email" class="col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2">Mot de passe</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Mot de passe">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Se souvenir de moi
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </div>
</div>
<ul class="list-inline">
    <li><a>Mot de passe oublié ?</a></li>
    <li class="divider"></li>
    <li><a ui-sref="app.register">Vous êtes nouveau ?</a></li>
</ul>
