<div class="form-horizontal">
    <div class="form-group">
        <label for="firstname" class="col-sm-2">Prénom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Prénom" ng-model="register.formData.firstname">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Nom" ng-model="register.formData.lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" placeholder="Email" ng-model="register.formData.email">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2">Mot de passe</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Mot de passe" ng-model="register.formData.password">
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirm" class="col-sm-2">Confirmation du mot de passe</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Confirmation du mot de passe" ng-model="register.formData.passwordConfirm">
        </div>
    </div>
    <div class="form-group">
        <label for="birthdate" class="col-sm-2">Date de naissance</label>
        <div class="col-sm-10">
            <input type="birthdate" class="form-control" placeholder="Date de naissance" ng-model="register.formData.birthdate">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Je suis </label>
        <div class="col-sm-10">
            <div class="radio">
                <label class="radio-inline" ng-repeat="gender in register.genderTypes track by $index">
                    <input type="radio" ng-value="gender.value" ng-model="register.formData.gender"> {{ gender.label }}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="register.submit()">S'inscrire</button>
        </div>
    </div>
</div>
<ul class="list-inline">
    <li><a ui-sref="app.login">Vous avez un compte ?</a></li>
</ul>
